* {
  margin: 0;
  box-sizing: border-box;
}

/* #bars {
} */

.bar {
  /* flex-grow: 1; */
  background-color: blueviolet;
  border: 2px solid purple;
  width: 5px;
  /* margin-right: 1px; */
  height: 100%;
}
